@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  align-items: center;
  background-color: #b7b1a1;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}